# IDE
.vscode/*
.idea/*
.DS_Stores


# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lib
*.a
# Executables
*.exe
*.out
*.app

# build directory
build/

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json